.button {
    display: flex;
    align-items: center;
    gap: 5px;

    border-radius: 10px;
    padding: 10px 15px;

    transition: .2s;

    .title {
        font-size: var(--fs-srg);
        font-weight: var(--fw-bold);
        color: var(--foreground-1);

        transition: .2s;
    }
}

.circle {
    border-radius: 100px;
}

// ===={ WHITER TO PRIMARY }====
.whiteToPrimary {
    background-color: var(--background-2);
    border: 1px solid var(--empty);

    &:hover {
        background-color: var(--background-3);
    }

    &.active {
        background-color: var(--primary-light);

        .title {
            color: var(--primary)
        }

        &:hover {
            border-color: var(--primary);
        }
    }
}

// ===={ PRIMARY TO OUTLINE }====
.primaryToOutline {
    background-color: var(--primary);
    border: 1px solid var(--primary);

    &:hover {
        background-color: var(--primary-light);
        border-color: var(--primary);

        .title {
            color: var(--primary);
        }
    }

    .title {
        color: var(--foreground-3);
    }
}

// ===={ BLACK TEXT TO PURPLE TEXT }====
.blackTToPurpleT {
    background-color: var(--background-3);

    &:hover {
        .title {
            color: var(--primary);
        }
    }
    .title {
        color: var(--foreground-1);
    }
}

// ===={ BLACK TEXT TO PURPLE TEXT VERTICAL }====
.blackTToPurpleTV {
    background-color: var(--background-2);
    flex-direction: column;

    &:hover {
        .title {
            color: var(--primary);
        }
    }
    .title {
        color: var(--foreground-1);
    }
}

// ===={ PRIMARY OUTLINE TO FILL }====
.primaryOToFill {
    border: 1px solid var(--primary);

    &:hover {
        background-color: var(--primary);
        .title {
            color: var(--foreground-3);
        }
    }
    .title {
        color: var(--primary);
    }
}